@inject NavigationManager NavigationManager

<CascadingBlazoredModal>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(BaseNavigationLayout)"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert" style="overflow-wrap: break-word;">Sorry, there's nothing at this address: @NavigationManager.Uri</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingBlazoredModal>