@using MediWeckerUI.Application
@inject NavigationManager NavigationManager

<CascadingBlazoredModal>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(BaseNavigationLayout)"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert" style="overflow-wrap: break-word;">Sorry, there's nothing at this address: @NavigationManager.Uri</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingBlazoredModal>

@code {

    [Inject]
    public IJSRuntime JS { get; set; }
    
    [Inject]
    public AppInterop AppInterop { get; set; }
    
    protected async override Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("MediWecker.init", DotNetObjectReference.Create(AppInterop));
        await base.OnInitializedAsync();
    }

}